<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.jex01.board.mapper.BoardMapper">

    <sql id="search"> <!-- sql에 구멍을 내는 것 -->
        <!-- separator는 반복이 끝나는 구간마다 " OR "를 넣으라는 의미 -->
        <if test="type != null">
            <foreach collection="arr" item="item" separator=" OR " open="WHERE (" close=")">
                <if test="item == 'T'.toString()">
                    title like concat('%', #{keyword}, '%')
                </if>
                <if test="item == 'C'.toString()">
                    content like concat('%', #{keyword}, '%')
                </if>
                <if test="item == 'W'.toString()">
                    writer like concat('%', #{keyword}, '%')
                </if>
            </foreach>
        </if>
    </sql>

    <insert id="insert">
        insert into tbl_board(title,content,writer)
        values(#{title},#{content},#{writer})
        <selectKey order="AFTER" resultType="long" keyProperty="bno">
            select last_insert_id()
        </selectKey>
    </insert>

    <select id="getList" resultType="org.zerock.jex01.board.domain.Board"> <!-- 아직 pagizing 처리 디테일하게 x -->
        select * from tbl_board

        <include refid="search"></include> <!-- 위에 id가 search인 sql문을 삽입 -->

        order by bno desc limit #{skip},#{size}
    </select>


    <select id="getCount" resultType="int">
        select count(bno) from tbl_board

        <include refid="search"></include>
    </select>

    <select id="select" resultType="org.zerock.jex01.board.domain.Board">
    select * from tbl_board where bno = #{bno}
    </select>


    <delete id="delete">
        delete from tbl_board where bno = #{bno}
    </delete>

    <update id="update">
        update tbl_board set title = #{title}, content = #{content}, modDate = now()
        where bno = #{bno}
    </update>


</mapper>
